{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AssetReport list</h1>

    <table class="records_list">
        <thead>
            <tr>
               
                <th>Asset</th>
                <th>KPI</th>
                <th>Weightageresults</th>
                <th>Dateofinspection</th>
               
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{{ entity.asset }}</td>
                <td>{{ entity.kpicollection }}</td>
                <td>{{ entity.weightageResults }}/5</td>
                <td>{% if entity.dateOfInspection %}{{ entity.dateOfInspection|date('Y-m-d H:i:s') }}{% endif %}</td>
               
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
