{% extends 'TCDataPortalBundle:AssetReport:admin_assetReportLayout.html.twig' %}



{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {

  var data = google.visualization.arrayToDataTable([
        ['Year','Complaints', 'Opening Hours', 'Site Exterior', 'Signage',
          { role: 'annotation' } ],
        ['2010', 10, 24, 20, 32, ''],
        ['2020', 16, 22, 23, 30, ''],
        ['2030', 28, 19, 29, 30, '']
      ]);


  var options = {
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
	bar: { groupWidth: '75%' },
        isStacked: true,
      };

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

  chart.draw(data, options);

}
    </script>
    
     <div id="chart_div" style="width: 900px; height: 500px;"></div>
{% endblock %}