{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AssetReport</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Weightageresults</th>
                <td>{{ entity.weightageResults }}</td>
            </tr>
            <tr>
                <th>Dateofinspection</th>
                <td>{{ entity.dateOfInspection|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ entity.userId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('assetreport') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('assetreport_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
