{% extends '::base.html.twig' %}
 {% block stylesheets %}
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
 
 <link rel="stylesheet" href="{{ asset('bundles/tcdataportal/css/bootstrap-switch.min.css') }}" />
 <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/redmond/jquery-ui.css" />
 <style>
     div.row:nth-of-type(even) {
         border-bottom:  1px solid #eee;
         padding: 10px;
         background-color: #eee;
     }
     
     div.container{
         border: 1px solid #eee;
         
     }
 </style>
 {% endblock %}
{% block body %}
<div class="container">
    <form action="{{ path('tc_data_portal_inspection_saved', {'assetCode': asset.code}) }}" method="post" enctype="multipart/form-data">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				Asset Evaluation - {{ date }}
			</h3>
                        
		</div>
        </div>
        <div class="row clearfix">
		<div class="col-md-12 column">
			
                        <div class="pull-left">
                            <h4>
                                Asset Name : {{ asset.name }}
                            </h4>
                            <h4>
                                Asset Code : {{ asset.code }}
                            </h4>
                            <h4>
                                Asset Category : {{ asset.assetcategory }}
                            </h4>
                            <h4>
                                Zone : {{ asset.ward.zone }}
                            </h4>
                            <h4>
                                Ward : {{ asset.ward }}
                            </h4>
                        </div>
		</div>
        </div>                    
	
        {% for kpi in kpis %}
	<div class="row">
		<div class="col-md-6 column">
			<p>
                            <strong>{{ kpi.name }}	</strong>
			</p>
                        
                        <p>
                        <ul>
                            {% for option in kpi.options %}
                                <li> ({{ option.weights }}). {{ option.name }} </li>
                            {% endfor %}
                        </ul>
                        </p>
		</div>
		
		<div class="col-md-6 column" >
                    {% if kpi.controltype in 'slider'%}
                        
                        <div style="padding-top:50px">
                         <p><strong>Current Rating: </strong><span id="rating_{{kpi.id}}">0</span>
                        </div>
                        
			<div   class="slider"  
                               data-min="0" 
                               data-max="5" 
                               data-step="1" 
                               data-id="{{ kpi.id }}"
                               data-values="{{ kpi.optionweights }}"  
                               
                               ></div>
                               <input type="hidden" value="0" id="input_{{ kpi.id }}" name ="kpi[{{ kpi.id }}]"/>
                    {% endif %} 
                    
                    {% if kpi.controltype in 'switch'%}
                        <p>{{ kpi.kpi.description }}</p>
                        <input type="checkbox" 
                               name ="kpi[{{ kpi.id }}]"
                               class="onOff"  
                               data-size="small" 
                               data-on-text="Yes" 
                               data-off-text="No">
                    {% endif %} 
                    {% if kpi.controltype in 'radio'%}
                 
        
            <label for="option1">Option 1</label>
  <input id="option1" type="radio" name="radio1" class="radio1"value="option1">
  <label for="option2">Option 2</label>
  <input id="option2" type="radio" name="radio1" class="radio1" value="option2">
  <label for="option3">Option 3</label>
  <input id="option3" type="radio" name="radio1" class="radio1" value="option3">
        
        {% endif %} 
		</div>
	</div>
                    
        {% endfor %}
        <div class="row clearfix">
            <div class="col-md-12 column text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>    
        </form> 
	
</div>
{% endblock %}
 {% block javascripts %}
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>    
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
 
 <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
 
 <script src="{{ asset('bundles/tcdataportal/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
 <script>
 $( document ).ready(function() {
     // for the slider
    $('.slider').each(function(){
        var valMap = $.parseJSON($(this).attr('data-values'));
        var id = $(this).attr('data-id');
        $(this).slider(
                {
         max: valMap.length - 1, // Set "max" attribute to array length
      min: 0,
      values: [0],
      slide: function(event, ui) {
        $('#input_'+id).val(valMap[ui.values[0]]); // Fetch selected value from array               
        $('#rating_'+id).html(valMap[ui.values[0]]); 
      }  
    }
            ) 
      })        
       
        
    // for the switches
    $('.onOff').bootstrapSwitch();
    //$('.radio1').bootstrapSwitch();
   $('.radio1').on('switch-change', function () {
    $('.radio1').bootstrapSwitch('toggleRadioState');
  });
    
    
});
 </script>
 {% endblock %}
